site_name: Automata Network Docs
site_url: https://docs.ata.network
site_description: Automata Network Documentation
site_author: Automata Team

repo_url: https://github.com/automata-network/docs

nav:
  - General:
    - The MEV Wiki:
      - Introduction: ./mev/introduction.md
      - Resource List: ./mev/resource-list.md
      - Terms and Concepts: ./mev/terms-and-concepts.md
      - Attack Examples: ./mev/examples.md
      - Attempts to Trick the Bots: ./mev/trick-the-bots.md
      - Solutions:
        - Different Approaches: ./mev/solutions/approaches.md
        - FaaS or MEVA: ./mev/solutions/faas-or-meva.md
        - MEV Minimization / Prevention:  ./mev/solutions/mev-minimization-prevention.md
        - Others: ./mev/solutions/others.md
      - Miscellaneous: ./mev/misc.md
  - User Guide:
    - NFTFair:
      - Introduction: ./nftfair/introduction.md
      - User Info:
        - Overview: ./nftfair/users/activities.md
        - FAQs: ./nftfair/users/faq.md
      - Contracts:
        - Summary: ./nftfair/contracts/summary.md
        - NFTFairFactory: ./nftfair/contracts/factory.md
        - NFTFairTreasury: ./nftfair/contracts/treasury.md
        - NFTFairVault: ./nftfair/contracts/vault/base.md
        - Vault Templates:
          - FIFO Vault: ./nftfair/contracts/vault/templates/fifo.md
          - Mystery Boxes Vault: ./nftfair/contracts/vault/templates/mysteryboxes.md
    - AnyDao:
      - Introduction: ./anydao/introduction.md
      - Design: ./anydao/design.md
      - Specification: ./anydao/spec.md
      - User Guide: ./anydao/guide.md
    - 2FA Guru:
      - Introduction: ./2fa/introduction.md
      - User Info:
        - User Guide: ./2fa/users/guide.md
        - FAQs: ./2fa/users/faq.md
      - Developer Info:
        - Workflow: ./2fa/developers/workflow.md
        - Contracts:
          - Summary: ./2fa/contracts/summary.md
          - TwoFactorBase: ./2fa/contracts/TwoFactorBase.md
          - TwoFactorAuthentication: ./2fa/contracts/TwoFactorAuthentication.md
          - Appendix: ./2fa/contracts/2FAppendix.md
        - FAQs: ./2fa/developers/faq.md
    - XATA:
      - Introduction: ./xata/introduction.md
      - Smart Contracts: ./xata/smart-contract.md
      - Swap & Liquidity Pool Guide: ./xata/liquiditypool-guide.md
      - Farming Guide: ./xata/farming-guide.md
      - SDK: ./xata/sdk.md
      - FAQ: ./xata/faq.md
    - Witness: 
      - Introduction: ./witness/introduction.md
      - User Guide: ./witness/user-guide.md
      # - Witness API: ./witness/api.md
  - Developers:
    - ContextFree Network:
      - Get Started:
        - Introduction: ./canarynet/getstarted/introduction.md
      - User Guide:
        - Set up Wallet: ./canarynet/userguide/setupwallet.md
        - Get Test Token: ./canarynet/userguide/get-test-token.md
        - Use Token Bridge: ./canarynet/userguide/token-bridge.md
      - Node:
        - Node Types: ./canarynet/node/node-type.md
        - Run Full Node: ./canarynet/node/run-full-node.md
        - Join as Validator: ./canarynet/node/run-validator.md
    - Conveyor:
      - Overview: ./conveyor/overview.md
      - ConveyorV1:
        - ./conveyor/conveyorv1/automata-conveyor-overview.md
        - ./conveyor/conveyorv1/automata-conveyor-gtoken.md
        - ./conveyor/conveyorv1/automata-conveyor-controller.md
        - ./conveyor/conveyorv1/fee.md
        - ./conveyor/conveyorv1/fee-contract.md
      - ConveyorV2:
        - ./conveyor/conveyorv2/design.md

theme:
  name: material
  custom_dir: overrides
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: orange
      accent: orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: orange
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - tabs
    - instant
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-tabs
    - navigation.top
    - navigation.tabs
    - toc.integrate
    # - navigation.expand
  logo: "assets/favicon-192.png"
  favicon: "assets/favicon.ico"

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - tables
  - attr_list
  - toc:
      permalink: true
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - footnotes
  - pymdownx.arithmatex:
      generic: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/automata-network
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/automatanetwork
    - icon: fontawesome/brands/medium
      link: https://medium.com/@automatanetwork
    - icon: fontawesome/brands/telegram
      link: https://t.me/ata_network
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/Us8cxTVRxG

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js

copyright: Copyright &copy; 2021 Automata Network
