.md-nav {
    font-size: 0.9rem;
    line-height: 1.5;
}

.md-tabs__item {
    font-weight: bold;
}

:root {
    --md-primary-fg-color:        #e74c3c;
    --md-primary-fg-color--light: #e74c3c;
    --md-primary-fg-color--dark:  #e74c3c;
    --md-default-bg-color--light: #e0e0e0;
    --md-default-bg-color--dark:  #191919;
}

.md-typeset .admonition.tip {
    border-color: #e74c3c;
}

.md-typeset .tip>.admonition-title:before {
    background-color: #e74c3c;
}

/* .md-sidebar, .md-sidebar__scrollwrap, .md-sidebar--primary {
    background-color: rgb(246, 246, 246);
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background-color: rgb(246, 246, 246);
} */


.md-content__inner>:last-child {
    float: right;
    margin-bottom: 1rem;
}